@model karnaCrud.Models.UserModel

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<div class="container py-5" " style="background-color: #f8f9fa;">
    <h1 class="mb-4">Form</h1>

    <form method="post" asp-action="Form">

@if (Model != null)
{
    <input type="hidden" name="ID" value="@Model.ID" />
}

        <div class="mb-3 col-sm-4">
            <label for="Name" class="form-label">Name: </label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", pattern = "[A-Za-z]+", placeholder = "Enter your name" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "invalid-feedback" })
        </div>

        <div class="mb-3 col-sm-4">
            <label for="Email" class="form-label">Email: </label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "abc@gmail.com" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3 col-sm-4">
            <label for="Phone" class="form-label">Phone Number: </label>
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", type = "text", pattern = "^[0-9]+$", placeholder = "9879419974" })
            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
        </div>

        <div class="form-check mb-3">
            <label for="Gender" class="form-check-label">Gender: </label>
        </div>
        <div class="form-check mb-3">
            @Html.RadioButtonFor(m => m.Gender, "Male", new { @class = "form-check-input" })
            <label class="form-check-label" for="Male">Male</label>
        </div>
        <div class="form-check mb-3">
            @Html.RadioButtonFor(m => m.Gender, "Female", new { @class = "form-check-input" })
            <label class="form-check-label" for="Female">Female</label>
        </div>
            @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "invalid-feedback" })

        <div class="mb-6">
            <label for="Address">Address: </label>
            @Html.TextAreaFor(m => m.Address, new { @class = "form-control", rows = "3", cols = "50" })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "invalid-feedback" })
        </div>

        <div class="mb-3 col-sm-4">
            <label for="Designation" class="form-label">Designation: </label>
            @Html.DropDownListFor(m => m.Designation, new List<SelectListItem>
            {
            new SelectListItem { Text = "Select Designation", Value = "" },
            new SelectListItem { Text = "Developer", Value = "Developer" },
            new SelectListItem { Text = "Manager", Value = "Manager" },
            new SelectListItem { Text = "Tester", Value = "Tester" },
            new SelectListItem { Text = "Analyst", Value = "Analyst" }
            }, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Designation, "", new { @class = "text-danger" })
        </div>

        


        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
</div>
