@model List<karnaCrud.Models.UserModel>

<h1>User List</h1>

<a href="@Url.Action("Form", "Home")" class="btn btn-primary">Add</a>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone No</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Designation</th>
        <th>Hobbies</th>
        <th>Image</th>
        <th>Action</th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td>@user.Phone</td>
            <td>@user.Gender</td>
            <td>@user.Address</td>
            <td>@user.Designation</td>
            <td>
                @if (user.Hobbies != null && user.Hobbies.Any())
                {
                    foreach (var hobby in user.Hobbies)
                    {
                        <span>@hobby </span>
                    }
                }
            </td>
            <td>
                @if (!string.IsNullOrEmpty(user.ImagePath))
                {
                    <img src="@user.ImagePath" alt="Profile Picture" width="50" height="50" />
                }
            </td>
            <td>
                <a href="@Url.Action("Edit", "Home", new { id = user.ID })" class="btn btn-sm btn-primary me-2" onclick="return confirm('Are you sure you want to update this user?');">Edit</a>
                <a href="@Url.Action("Delete","Home",new {id = user.ID})" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this user?');">Delete</a>
            </td>
        </tr>
    }
</table>